@import url("https://fonts.googleapis.com/css?family=Rajdhani:500,700");
$font-family: "Rajdhani";

// font color 
$font-color: rgb(23, 25, 27);
$secondary-font-color: rgb(99, 109, 119);

// background colors 
$main-bg: whitesmoke;
$star-bg: linear-gradient(to top, rgb(61, 23, 11), rgb(66, 15, 15), rgb(34, 5, 5), rgb(8, 1, 1));

// theme colors 
$salmon: rgb(250,128,114);
$salmon-light: rgb(255,160,122);
$salmon-dark: rgb(233,150,122);

$border-radius: .25rem;